body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

#history {
    color: #ccc;
    text-align: right;
    min-height: 20px;
    margin-bottom: 8px;
    font-size: 14px;
}
input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 16px;
}